* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: absolute;
    width: 100%;
    top: 0;
    justify-content: space-between;
}

header h1 {
    margin: 0;
}

nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

main {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

#artisanProfile {
    justify-content: space-between;
    width: 100%;
    padding: 100px;
}

#bookingSection {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 100px;
    margin-top: -50rem;
}

#bookingSection h3 {
    margin: 20px 20px 10px;
    font-size: 25px;
    font-weight: 600;
}

#profileDetails {
    /* text-align: center; */
    justify-content: center;
    gap: 20px;
    margin-top: -10rem;
}
#profileDetails img {
    width: 250px;
    height: 250px;
    border-radius: 30%;
    object-fit: cover;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-left: 10rem;
}

#profileDetails h2 {
    margin-left: 11rem;
    font-size: 30px;
    font-weight: 400;
}

#profileDetails p {
    margin-left: -1rem;
    text-align: center;
    font-size: 15px;
    line-height: 2;
}

#artisanCrafts {
    flex: 2;
    width: 100%;
}

.result-craft {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    margin-top: 5%;
}

.result-craft img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}


#calendar {
    height: 400px;
    width: 100%;
    /* margin-top: 10rem; */
    padding: 1em;
    background: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#calendar:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#bookingForm {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 1em;
    background: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

#bookingForm label {
    display: block;
    margin: 0.5em 0 0.2em;
}

#bookingForm input[type="text"],
#bookingForm input[type="time"] {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 12px;
}

#bookingForm input[type="submit"] {
    padding: 0.5em 1em;
    border: none;
    background: #333;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

#bookingForm input[type="submit"]:hover {
    background: #555;
}

footer {
    display: flex;
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    justify-content: space-between;
    width: 100%;
}

footer h2.footer_logo {
    margin: 0;
}

footer p {
    margin: 10px 0;
}

footer nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

footer nav a:hover {
    text-decoration: underline;
}

.social-links a {
    color: white;
    margin: 0 10px;
    font-size: 1.5em;
    text-decoration: none;
}

.social-links a:hover {
    color: #ddd;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 10px;
}

form input {
    padding: 10px;
    margin-bottom: 10px;
}

