body {
    font-family: 'Calibri', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    width: 100%;
    overflow-x: hidden;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #888;
    color: #fff;
    padding: 10px 20px;
}

header .logo {
    font-size: 24px;
    font-weight: bolder;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

header nav ul li {
    margin: 0 10px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}
.button-light {
    background-color: #f5f5f5;
    color: #333;
    border: none;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
}
.button-light:hover {
    background-color: #ccc;
}
.button-light:active {
    background-color: #999;
}
.button-dark {
    background-color: #343148FF;
    color: #f5f5f5;
    border: none;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
}
.button-dark:hover {
    background-color: #555;
}
.button-dark:active {
    background-color: #777;
}
#hero {
    background-color: #f5f5f5;
    color: #343148FF;
    text-align: center;
    padding: 100px 0;
}
.hero-img1{
    margin-top: 0.5rem;
    margin-bottom: 1px;
    margin-right: 70rem;
}
.hero-img1 img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
}
.hero-content {
    margin-top: -15rem;
    margin-bottom: 1px;
    margin-right: -3rem;
}
.hero-content h1 {
    font-size: 50px;
    word-spacing: 0.5px;
    letter-spacing: 0.05px;
    line-height: 43px;
}
.hero-content h1 span {
    color: #FFA500;
    font-weight: bolder;
}
.hero-content p {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.hero-img2{
    margin-top: -10rem;
    /* margin-bottom: 1px; */
    margin-left: 85rem;
}
.hero-img2 img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
}
.explore {
    margin: 0 auto;
    text-align: center;
    margin-top: -20px;
}
.explore input {
    padding: 10px;
    padding-left: 20px;
    margin-right: 100px;
    border: 0.5px grey solid;
    border-radius: 20px;
    width: 300px;
    height: 40px;
    box-sizing: border-box;
}
.explore input::placeholder {
    color: #999;
    font-size: 14px;
}
.explore button {
    padding: 12px 40px;
    border: none;
    border-radius: 20px;
    background-color: #343148FF;
    color: #f5f5f5;
    cursor: pointer;
    font-size: 16px;
    margin-left: -10rem;
}
.explore button:hover {
    background-color: #555;
}
.explore button:active {
    background-color: #777;
}

#about {
    background-color: #f5f5f5;
    color: #343148FF;
    padding: 100px 0;
}
.about-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: -10rem;
}
.about-content img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    object-fit: cover;
}
.about-content h2 {
    font-size: 50px;
    margin-left: 35rem;
    font-weight: bolder;
}
.about-content p {
    font-size: 20px;
    margin-top: -20px;
    margin-bottom: 20px;
    margin-left: 80px;
    text-align: center;
}
#usage {
    background-color: #343148FF;
    color: #f5f5f5;
    padding: 100px 0;
}
#usage h1 {
    font-size: 50px;
    text-align: center;
    margin-top: -5rem;
}
.Steps {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: -1rem;
}
.Steps img {
    width: 200px;
    height: 200px;
    border-radius: 20%;
    object-fit: cover;
}
.step h2 {
    font-size: 30px;
    font-weight: bolder;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 6rem;
}
.step p {
    font-size: 20px;
    margin-top: -20px;
    margin-bottom: 20px;
    margin-left: -3rem;
}
.step .button-light {
    margin-top: -20px;
    margin-left: 6.5rem;
    width: 150px;
    height: 50px;
}

footer {
    background-color: #f5f5f5;
    color: #f5f5f5;
    text-align: center;
    padding: 10px 0;
}
footer p {
    font-size: 14px;
}
.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5rem;
}
.footer-content .logo {
    font-size: 24px;
    font-weight: bolder;
}
.footer-left {
    margin-left: -10rem;
}
.socials {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}
.socials a {
    color: #343148FF;
    text-decoration: none;
    font-size: 20px;
}
.socials a:hover {
    color: #999;
}
.socials a:active {
    color: #555;
}
.footer-center {
    margin-right: -15rem;
}
.footer-center p {
    font-size: 14px;
}
.footer-right {
    margin-right: -5rem;
}
.newsletter {
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    margin-left: 20rem;
}
.newsletter input {
    padding: 10px;
    padding-left: 20px;
    border: 0.5px grey solid;
    border-radius: 20px;
    width: 200px;
    height: 30px;
    box-sizing: border-box;
}
.newsletter input::placeholder {
    color: #999;
    font-size: 14px;
}
.newsletter button {
    padding: 8px 10px;
    border: none;
    border-radius: 20px;
    background-color: #343148FF;
    color: #f5f5f5;
    cursor: pointer;
    font-size: 10px;
}
.newsletter button:hover {
    background-color: #555;
}
.newsletter button:active {
    background-color: #777;
}
.newsletter h2 {
    font-size: 20px;
    /* margin-left: 20rem; */
}

@media (max-width: 992px) {
    header {
        flex-direction: row;
        align-items: flex-start;
    }
    header nav ul {
        flex-direction: row;
    }
    .about-content {
        flex-direction: row;
        text-align: center;
        padding: 30px;
    }
    .about-content h2 {
        margin-left: 0;
    }
    .about-content p {
        margin-left: 0;
        width: 400px;
    }
    footer {
        margin: 0;
    }
}

@media (max-width: 850) {
    .hero-content h1 {
        font-size: 40px;
    }
    .hero-content p {
        font-size: 16px;
    }

    .hero-img2 img {
        margin-right: 100rem;
    }
    .explore input {
        width: calc(50% - 20px);
    }
    .explore button {
        margin-left: 0;
        width: calc(50% - 20px);
    }
    .about-content img {
        width: 300px;
        height: 300px;
    }
    .about-content h2 {
        font-size: 40px;
    }
    .about-content p {
        font-size: 18px;
    }
    .Steps img {
        width: 150px;
        height: 150px;
    }
    .step h2 {
        font-size: 25px;
    }
    .step p {
        font-size: 16px;
    }
    .step .button-light {
        width: 100%;
    }
    .footer-content {
        padding: 0 30px;
    }
    .footer-left, .footer-center, .footer-right {
        margin-left: 0;
        margin-right: 0;
    }
    .newsletter {
        flex-direction: column;
        margin-left: 0;
    }
    .newsletter input {
        width: calc(100% - 10px);
    }
    .newsletter button {
        width: 100%;
    }
    .newsletter h2 {
        font-size: 16px;
    }
    .newsletter input::placeholder {
        font-size: 8px;
    }
    .footer-left {
        margin-left: 0;
    }
    .socials {
        margin-left: 0;
    }
    .footer-center {
        margin-right: 0;
    }
    
}

@media (max-width: 768px) {
    * {
        width: 100%;
    }
    header {
        flex-direction: row;
        align-items: center;
        width: 100%;
    }
    .hero-content h1 {
        font-size: 30px;
        margin-right: 10rem;
    }
    .hero-content p {
        font-size: 14px;
        margin-right: 10rem;
        margin-top: -2rem;
    }

    .hero-img1 img {
        width: 150px;
        height: 150px;
        padding: 10px;
        margin-top: -5rem;
    }
    .hero-img2 img {
        width: 150px;
        height: 150px;
        padding: 10px;
        /* margin-top: -5rem; */
        margin-left: -30rem;
    }
    .explore {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .explore input {
        width: calc(50% - 20px);
        margin-right: 0;
        padding: 10px;
    }
    .explore button {
        margin-left: 0;
        width: calc(50% - 20px);
    }
    .about-content img {
        width: 250px;
        height: 250px;
    }
    .about-content h2 {
        font-size: 30px;
        margin-left: 0;
    }
    .about-content p {
        font-size: 16px;
        margin-left: 0;
    }
    .Steps {
        text-align: center;
    }
    .Steps h3 {
        font-size: 25px;
    }
    .step h2 {
        font-size: 20px;
        margin-left: 0;
    }
    .step p {
        font-size: 14px;
        margin-left: 0;
    }
    .step .button-light {
        margin-left: 0;
        width: 100%;
    }
    .footer-content {
        padding: 0 60px;
    }
    .footer-left, .footer-center, .footer-right {
        margin-left: 0;
        margin-right: 0;
    }
    .newsletter {
        flex-direction: column;
        margin-left: 0;
    }
    .newsletter input {
        width: calc(100% - 10px);
    }
    .newsletter button {
        margin-top: 10px;
        text-align: center;
        width: calc(100% - 10px);
    }
    .newsletter h2 {
        font-size: 16px;
    }
    .newsletter input::placeholder {
        font-size: 8px;
    }
    .footer-left {
        margin-left: 0;
    }
    .socials {
        margin-left: 0;
    } 
    .footer-center {
        margin-right: 0;
    }
}

@media (max-width: 576px) {
    .hero-content h1 {
        font-size: 28px;
    }
    .hero-content p {
        font-size: 14px;
    }
    .explore input {
        width: calc(100% - 10px);
    }
    .explore button {
        padding: 10px;
        width: 100%;
    }
    .about-content {
        text-align: center;
    }
    .about-content h2 {
        font-size: 24px;
        margin-left: 0;
    }
    .about-content p {
        font-size: 16px;
        margin-left: 0;
    }
    .Steps {
        flex-direction: column;
    }
    .Steps img {
        width: 100%;
        height: auto;
    }
    .step h2 {
        font-size: 24px;
        margin-left: 0;
    }
    .step p {
        font-size: 16px;
        margin-left: 0;
    }
    .step .button-light {
        margin-left: 0;
        width: 100%;
    }
    .footer-content {
        flex-direction: column;
    }
    .footer-left, .footer-center, .footer-right {
        margin-left: 0;
        margin-right: 0;
    }
    .newsletter {
        flex-direction: column;
        margin-left: 0;
    }
    .newsletter input {
        width: calc(100% - 20px);
    }
    .newsletter button {
        width: 100%;
    }
    .newsletter h2 {
        font-size: 18px;
    }
}

