/* Login page specific styles */
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://img.freepik.com/free-photo/top-view-chinese-ink-concept_23-2148785934.jpg?t=st=1722151123~exp=1722154723~hmac=4fa5e3f097edb7ea723a06f959ca4dbb87cf7801ae2767dea711bf46d9bd17ef&w=1060');
    background-size: cover;
}
header {
    display: flex;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: absolute;
    width: 100%;
    top: 0;
    justify-content: space-between;
}
header h1 {
    margin: 0;
}

nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
}

.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5); /* Transparent background */
}

.signup-card {
    background-color: rgba(216, 191, 153, 5);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px (0, 0, 0, 0.1);
    width: 400px;
    height: 400px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* Frosted glass effect */
    text-align: center; border: 1px solid rgba(255, 255, 255, 0.2);
}

.signup-card h2 {
    margin-bottom: 20px;
    color: #333;
    font-size: 30px;
    font-weight: bold;
}
.signup-card input {
    width: 300px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 30px;
    box-sizing: border-box;
}
.signup-card input::placeholder {
    color: #ccc;
    font-size: 14px;
    padding: 0 10px;
}
.signup-card input::after {
    content: 'Sign Up';
}

.signup-card button {
    width: 300px;
    padding: 10px;
    border: none;
    background-color: #FFA500; /* Orange color */
    color: white;
    cursor: pointer;
    border-radius: 30px;
    font-weight: lighter;
    font-size: 14px;
}
.signup-card button:hover {
    background-color: #FF8C00;
}

.signup-card button:hover {
    background-color: #FF8C00; /* Darker orange color */
}

p {
    margin-bottom: 16px;
    color: #333;
    font-size: 14px;
    font-weight: lighter;
}
p {
    margin-top: 15px;
}

p a {
    color: #FFA500; /* Orange color */
    text-decoration: none;
}
